<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Site</h1></a>
        <p>A Blog Site</p>
    </div>

    <ul>
        <li><a href="/">Blog Site</a></li>
        <li><a href="/about">About Site</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>