<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <h1>About Page</h1>
    <%-include('./partials/nav.ejs')%>



    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis adipisci suscipit sed doloribus expedita! Ad accusantium iure reiciendis aut dolorum?
        </p> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis adipisci suscipit sed doloribus expedita! Ad accusantium iure reiciendis aut dolorum?
        </p> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis adipisci suscipit sed doloribus expedita! Ad accusantium iure reiciendis aut dolorum?
        </p> 
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>